<swiper-container init="false">
    <swiper-slide><div class="slide-custom">Slide 1</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 2</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 3</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 1</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 2</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 3</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 1</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 2</div></swiper-slide>
    <swiper-slide><div class="slide-custom">Slide 3</div></swiper-slide>
  </swiper-container>